<form action="" method="post">
	<label for="password_request-email">Email address</label>
	<input type="email" name="password_request[email]" id="password_request-email">

	<button name="password_request[submit]" id="password_request-submit" type="Send me a link to reset my password">Send me a link to reset my password</button>
</form>